* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url('/public/images/bg-mobile.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-origin: border-box;
  position: relative;
}
img {
  width: 100%;
}

.container {
  border: 1px solid red;
  margin: auto;
  width: 90%;
  max-width: 375px;
  position: relative;
  top: 30px
}
.img-box {
  text-align: left;
}
.img-box img {
  width: 40%;
  padding-bottom: 30px;
}
.img-box .img-bg {
  background-image: url('/public/images/illustration-mockups.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30vh;
  width: 100%;
}